**/*.o
**/*.d

.champsimconfig_cache
Makefile

inc/champsim_constants.h
inc/cache_modules.inc
inc/ooo_cpu_modules.inc
src/core_inst.cc
batch_run/binary.json
batch_run/result*/

/bin/
/obj/
/trace/
/output/
/result/
/results/
/batch_run/result/
/pictures/
/plotting/**/*.json

.vscode/
*.tsv
*.pdf
*.bkp
*_raw.json

__pycache__/
ddr.txt
ddr.json
ddrepoch.json
